.Button {
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 20px;
  color: white;
  background: linear-gradient(90deg, #0dc2c2 0%, #42e2e2 103.7%);
  padding: 6px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.Button:focus {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}
.Button:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) !important;
  transform: translateY(1px) !important;
}
.Button:hover {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

.green {
  background: radial-gradient(100% 887.8% at 100% 0%, #20e39d 0%, #0eca86 100%);
}

.red {
  background: radial-gradient(100% 887.8% at 100% 0%, #ea3a3a 0%, #c20b0b 100%);
}

.link,
.linkRed {
  background: none;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.link {
  color: #189d9d;
}

.link:hover {
  color: #42e2e2;
}

.linkRed {
  color: #c20b0b;
}
.linkRed:hover {
  color: #eb5858;
}
.link:focus,
.link:active,
.link:hover,
.linkRed:focus,
.linkRed:active,
.linkRed:hover {
  box-shadow: none;
  transform: none;
}
