.App {
  width: 375px;
  text-align: center;
  padding: 30px;
}
.App h1 {
  color: #0eb9b9;
  font-weight: 600;
  font-size: 28px;
  margin-top: 0;
  line-height: 35px;
  margin-bottom: 24pxem;
}
.Password {
  font-size: 28px;
  margin-top: 0;
  word-break: break-all;
  margin-top: 30px;
  margin-bottom: 0.5em;
}
.Red {
  color: #c20b0b;
  word-break: normal;
}
.InputContainer {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.Checkboxes {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  width: 100%;
}
.InputContainer label {
  flex: 1;
  text-align: left;
}
.InputContainer input {
  outline: none;
  border: none;
  background-color: #ececec;
  border-radius: 5px;
  font: inherit;
  font-size: 20px;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
  width: 33%;
}
